input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: aqua;
    color: red;
}
input[type=submit] {
    background-color: orange;
    color: red;
    border: 2px solid red;
}